<app-header></app-header>
<router-outlet></router-outlet>
<div class="container" style="margin-top: 200px;">
    <h1 class="text-center mb-5">Gráficos</h1>
    <div class="row justify-content-center">
        <div class="col-2 text-center">
            <button type="button" class="btn btn-primary btn-lg" (click)="redirectFamiliaProductos()">Familia de Productos</button>
        </div>
        <div class="col-2 text-center">
            <button type="button" class="btn btn-primary btn-lg" (click)="redirectIngresosAnuales()">Ingresos Mensuales</button>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-2 text-center">
            <button type="button" class="btn btn-primary btn-lg" (click)="redirectRotacionInventario()">Rotación de Inventario</button>
        </div>
        <div class="col-2 text-center">
            <button type="button" class="btn btn-primary btn-lg" (click)="redirectIngresosTrimestrales()">Ingresos Trimestrales</button>
        </div>
    </div>
  </div>
  